@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: all;
}


/* https://daisyui.com/docs/themes/ */
@plugin "daisyui/theme" {
    name: "fogdough";
    default: true;
    /* set as default */
    prefersdark: false;
    /* set as default dark mode (prefers-color-scheme:dark) */
    Xcolor-scheme: light;
    /* color of browser-provided UI */

    --color-primary: #000;

}

._text,
._text p,
._text div {
    /* 
        Following method described here:
        https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
        Using cqw instead of vw for widths. From tailwind…
        @md = 28rem, best font size = 0.75rem
        @lg = 32rem, best font size = 0.87rem

        slope = (maxFontSize - minFontSize) / (maxWidth - minWidth)
            = (0.87 - 0.75) / (32 - 28) = 0.03
        yAxisIntersection = -minWidth * slope + minFontSize
            = -28 * 0.03 + 0.75 = -0.09
        preferredValue = yAxisIntersection[rem] + (slope * 100)[cqw]
            = -0.09rem + (0.03 * 100)vw = -0.09rem + 3cqw
        
        For the clamp I'm using our min/max font sizes for 
        all cqw rather than just for that @md-@lg range
    */
    font-size: clamp(1.07rem, -0.09rem + 3cqw, 5rem);
    @apply w-full
}

.team-grid>.card-title {
    @apply mb-14
}

.current-nav-page {
    @apply lg:border-b-gray-300 lg:border-b-2 lg:rounded-b-none
}

a.nav {
    @apply bg-transparent border-transparent lg:border-b-2 lg:rounded-b-none p-0 pl-1 pr-2
}

a.nav:hover {
    @apply border-solid
}

.about>a.nav:hover,
.about>.current-nav-page {
    @apply text-primary border-primary
}

/* li.portfolio {
    background-color: lch(from #ff0000 l c h);
} */

.portfolio>a.nav:hover,
.portfolio>.current-nav-page {
    @apply text-secondary border-secondary
}

.contact>a.nav:hover,
.contact>.current-nav-page {
    @apply text-success border-success
}

.page-section {
    @apply max-w-full m-0 p-0 pr-7 h-full align-middle text-left
}

.nav-section {
    @apply max-w-full mx-auto px-0 py-8 text-left
}

.btn.about {
    @apply btn btn-wide sm:btn-md md:btn-xl btn-outline btn-primary m-2;
}

.btn.portfolio {
    @apply btn btn-wide sm:btn-md md:btn-xl btn-outline btn-secondary m-2;
}

.btn.contact {
    @apply btn btn-wide sm:btn-md md:btn-xl btn-outline btn-success m-2;
}

h1.about {
    @apply text-primary
}

h1.portfolio {
    @apply text-secondary
}

h1.contact {
    @apply text-success
}


.navpage-title>.navpage-link-icon:not(.current-navpage-link) {
    @apply opacity-100
}

.navpage-title>.navpage-link-icon.current-navpage-link {
    @apply opacity-0;
}