---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import LayoutSection from "@layouts/LayoutSection.astro";

const pageTitle = "Components Showcase";
---

<Layout frontmatter={{ title: pageTitle }}>
  This is the {pageTitle} astro page.
  <div class="component-entry">
    <h2>The <b>Nav</b> component</h2>
    <div class="example">
      <Nav />
    </div>
  </div>
  <div class="component-entry">
    <h2>The <b>LayoutSection</b> component</h2>
    <div class="example">
      <LayoutSection><div style="color:white">section takes a slot of whatever children</div></LayoutSection>
    </div>
  </div>
</Layout>

<style>
  .component-entry {
    margin: 1.4rem 0;
  }
  .example {
    border: 1px solid red;
    border-radius: 0.4rem;
    margin: 17px;
  }
</style>
