---
import Layout from "@layouts/Layout.astro";
import Section from "@layouts/Section.astro";
const pageTitle = "Contact";
---

<Layout frontmatter={{ title: pageTitle }}>
  <Section id="contact">
    This is the {pageTitle} astro.
  </Section>
</Layout>
