---
import { Image } from "astro:assets";

import Logo from "@assets/logo/circle5.svg";
import Logo2 from "@assets/logo/circle0.svg";
import Layout from "@layouts/Layout.astro";
import LayoutSection from "@layouts/LayoutSection.astro";
import Text from "@components/Text.astro";
import navItems from "@components/NavItems.ts";
const pageTitle = "home";
---

<Layout>
  <div
    class="col-span-1 gap-0 w-full h-auto m-0 p-0 pt-5 md:pr-5 md:py-10
  text-center lg:text-left justify-items-center"
  >
    <div class="gradient logo-home m-0 w-fit" transition:name="logo">
      <Image
        class="m-0 w-[30vw] md:w-full h-full text-center lg:text-left items-center lg:items-start"
        src={Logo2}
        alt="Fogdough logo"
      />
    </div>
  </div>

  <div
    class="md:col-span-1 lg:col-span-2 h-auto align-middle flex items-center p-0 gap-0"
  >
    <h1 class="text-center md:text-left align-middle m-0 w-full">
      On-chain. <br />Permissionless. <br />Finance reprogrammed.
    </h1>
  </div>

  <LayoutSection type="med-left">
    <Text>
      <p>
        Fogdough elevates chosen founders at the earliest stages. We partner
        directly with entrepreneurs to ideate and refine essential business
        frameworks from conception through product-market fit, backed by fully
        customizable funding arrangements.
      </p>
    </Text>
  </LayoutSection>
  <LayoutSection type="right">
    <Text class:list={['flex flex-col h-full justify-center w-full text-right']}>
      <p class="nx" style="font-size: 7cqw">
        <button class="btn btn-primary" data-nav-target="/portfolio">Our portfolio</button>
      </p>
    </Text>
  </LayoutSection>

  <!-- <LayoutSection type="right" class="opacity-0 lg:opacity-100">
    <div
      class="mask mask-square h-full w-full
      bg-gradient-to-tl
      to-transparent
      via-transparent via-20%
      from-blue-200"
    >
    </div>
  </LayoutSection> -->
  <!-- <LayoutSection type="left">
    <div
      class="mask mask-triangle-4 h-full w-full
      bg-gradient-to-tl
      to-stone-400
      via-transparent via-33%
      from-blue-200"
      transition:name="keeper-1"
      style="background-size: 210% 210%"
    >
    </div>
  </LayoutSection> -->

  <LayoutSection type="left">
    <Text class:list={['flex flex-col h-full justify-center w-full text-left']}>
      <p class="nx">
        <button class="btn btn-secondary" data-nav-target="/about">Who we are</button>
      </p>
    </Text>
  </LayoutSection>
  <LayoutSection type="med-right">
    <Text class:list={['text-right lg:text-left']}>
      <p>
        Our organization brings together people from diverse backgrounds,
        professional journeys, and life experiences. We fundamentally believe
        that excellence manifests in countless forms. These varied
        perspectives represent our distinct competitive advantage. They
        substantially deepen our worldview, facilitate our pursuit of truth,
        and illuminate areas that might otherwise remain obscured by
        unconscious biases and blind spots.
      </p>
    </Text>
</LayoutSection>

</Layout>

<style lang="styl">
  .grid div 
    border 1px solid blue
</style>
<style lang="styl">
  .nx button {
    font-size: 7cqw;
  }
</style>

<script type="module">
  const buttons = document.querySelectorAll("[data-nav-target]");

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener("click", () => nav(button.dataset.navTarget));
  });

  const nav = (page) => {
    location.assign(page);
  };
</script>
