---
import Layout from "@layouts/Layout.astro";
import Section from "@layouts/Section.astro";

const pageTitle = 'home';
---

<Layout frontmatter={{ title: pageTitle }}>
    <h5>This is the {pageTitle} astro.</h5>

    
</Layout>
