---
import { Image } from "astro:assets";

import Logo from "@assets/logo/circle5.svg";
import Logo2 from "@assets/logo/circle2.svg";
import Layout from "@layouts/Layout.astro";
import Section from "@layouts/Section.astro";
import navItems from "@components/NavItems.ts";
const pageTitle = "home";
---

<Layout>
  <div
    class="cta cta-splash my-8 flex flex-col items-center md:flex-row gap-12"
  >
    <div>
      <div class="gradient logo-home" transition:name="logo">
        <Image src={Logo2} alt="Fogdough logo" />
      </div>
    </div>

    <h1 class="text-center md:text-left">
      On-chain. <br />Permissionless. <br />Finance reprogrammed.
    </h1>
  </div>

  <Section type="content:1col">
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae
        scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec
        congue eget, auctor vitae massa. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante
        dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis
        sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper
        porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
      </p>
      <p>
        Curabitur sit amet mauris morbi in dui quis est pulvinar ullamcorper.
        Nulla facilisi. Integer lacinia sollicitudin massa. Cras metus. Sed
        aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis,
        venenatis tristique, dignissim in.
      </p>
    </div>
    <Section type="card">
      <div class="card bg-[#333] text-neutral-content md:w-160 mx-auto">
        <div class="card-body items-center text-center">
          <h2 class="card-title">Card</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae
            scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices
            nec congue eget, auctor vitae massa. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
            cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
            imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus
            sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
            nulla.
          </p>
          <p>
            Curabitur sit amet mauris morbi in dui quis est pulvinar
            ullamcorper. Nulla facilisi. Integer lacinia sollicitudin massa.
            Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi.
            Quisque nisl felis, venenatis tristique, dignissim in.
          </p>
        </div>
      </div>
    </Section>
  </Section>

  <style lang="styl">
</style></Layout
>
