---
const { title, content, class: addClass, icon } = Astro.props;
---

<div class:list={[addClass, "card w-full max-w-[60rem] m-auto shadow-xl m-0 p-14 my-28 rounded-1xl"]}>
  {title && <h2 class="card-title">{title}</h2>}
  <div class:list={["card-body w-full h-full"]}>
    <slot>
      <p>This is my fallback content, if there is no child passed into slot</p>
    </slot>
  </div>
</div>
