---
import Logo from '@assets/logo/PXL_20250121_124406946 n4 no shadow.svg';
import MastadonLogo from '@assets/social/mastodon-svgrepo-com.svg'
import FriendicaLogo from '@assets/social/friendica-svgrepo-com.svg'
import PeertubeLogo from '@assets/social/peertube-svgrepo-com.svg'
import PixelfedLogo from '@assets/social/pixelfed-svgrepo-com.svg'
---

<footer
  class="footer sm:footer-horizontal text-base-content p-10 place-items-center"
>
  <aside class="justify-center items-center gap-0 w-full">
    <div class="w-full text-center"><Logo class="inline p-3 text-base-content" width="4rem" height="auto"/> </div>
    <h6 class="footer-title text-center w-full">Curiodough</h6>
    <!-- <p>Providing reliable DeFi since 2026</p> -->
  </aside>
  <form>
    <!-- <h6 class="footer-title">Newsletter</h6> -->
    <fieldset class="w-80">
      <label id="label-newsletter-email" class="hidden"
        >Enter your email address</label
      >
      <div class="join">
        <input
          aria-labelledby="label-newsletter-email"
          type="text"
          placeholder="username@site.com"
          class="input input-bordered join-item"
        />
        <button class="btn btn-primary join-item">Subscribe</button>
      </div>
    </fieldset>
  </form>
  <nav>
    <!-- <h6 class="footer-title">Social</h6> -->
    <div class="grid grid-flow-col gap-4 max-h-1">
      <a>
        <MastadonLogo width={'auto'} height={'2rem'} class="fill-base-content"/>
      </a>
      <a>
        <FriendicaLogo width={'auto'} height={'2rem'} class="fill-base-content"/>
      </a>
      <a>
        <PeertubeLogo width={'auto'} height={'2rem'} class="fill-base-content"/>
      </a>
      <a>
        <PixelfedLogo width={'auto'} height={'2rem'} class="fill-base-content"/>
      </a>
    </div>
  </nav>
</footer>
