---
import Card from "@components/Card.astro";
const { title, content, class: addClass, icon } = Astro.props;

// update to handle a UL?
---
<div class="grid grid-cols-subgrid col-span-full">
{title && <h2>{title}</h2>}
<div
  class:list={[
    "grid grid-cols-subgrid col-span-full",
    addClass,
  ]}
>
  <slot />
</div>
</div>
