---
import Logo from "@assets/logo/PXL_20250121_124406946 n4 no shadow.svg";
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a href="/about" aria-current="page">About</a>
        </li>
        <li>
          <a href="/portfolio/">Portfolio</a>
        </li>
        <li>
          <a href="/team">Team</a>
        </li>
      </ul>
    </div>
    <!-- 
      DaisyUI default:
    -->
    <!-- 
    class="btn btn-ghost text-xl gap-0" 
    -->
    <!-- 
      I removed btn and extracted only parts that make this display work without button effects.
    -->
    <a
      href="/"
      class="text-xl gap-0 flex flex-nowrap flex-row items-center justify-center text-center"
      style="
      height: var(--size); 
      --size: calc(var(--size-field, 0.25rem) * 10); 
      font-weight: 600;
      flex-shrink: 0;
      "
    >
      <Logo class="inline pr-3 pl-3 text-cyan-600" width="auto" height="auto" />
      Curiodough
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a href="/about" aria-current="page">About</a>
      </li>
      <li>
        <a href="/portfolio/">Portfolio</a>
      </li>
      <li>
        <a href="/team">Team</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <details class="dropdown">
      <summary class="list-none cursor-pointer m-1">
        <div class="avatar">
          <div class="w-14 rounded-full">
            <img
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
            />
          </div>
        </div>
      </summary>
      <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2">
        <li>
          <span class="pb-0 font-bold">Alice Brown</span><p
            class="pt-0 mt-0 text-xs"
          >
            alice.brown@gmail.com
          </p>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Themes</legend>
            <select class="select" data-choose-theme>
              <option disabled selected>Pick a theme</option>
              <option value="">Default</option>
              <option value="light">Light</option>
              <option value="dark">Dark</option>
              <option value="winter">Winter</option>
              <option value="autumn">Autumn</option>
              <option value="lemonade">Lemonade</option>
              <option value="cmyk">CMYK</option>
              <option value="cupcake">Cupcake</option>
              <option value="nord">Nord</option>
              <option value="synthwave">Synthwave</option>
            </select>
            <span class="fieldset-label">Optional</span>
          </fieldset>
        </li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Subscription</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Sign Out</a></li>
      </ul>
    </details>
  </div>
</div>

<style></style>
