---
import VueNav from "./VueNav.vue";
const items = [
  { label: "Home", url: "/", shortcut: '⌘+1' },
  { label: "About", url: "/about", shortcut: '⌘+2', icon: 'pi pi-bolt', badge: 3 },
  { label: "Portfolio", url: "/portfolio", shortcut: '⌘+3' },
  { label: "Team", url: "/team", shortcut: '⌘+4' },
];
---

<nav>
  <VueNav client:only="vue" items={items}>{items}</VueNav>
</nav>
