---

---

<nav>
  <a href="/" data-astro-prefetch>Home</a>
  ⸱
  <a href="/about" data-astro-prefetch>About</a>
  ⸱
  <a href="/portfolio" data-astro-prefetch>Portfolio</a>
  ⸱
  <a href="/team" data-astro-prefetch>Team</a>
</nav>
