---
const { img = "https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp", name, title, class:addClass } = Astro.props;
---

<div class:list={[ 'flex',  addClass ]} >
  <div class="avatar self-start">
    <div class="mask mask-hexagon max-w-24">
      <img src={img} />
    </div>
  </div>
  <div class="text-left ml-4 self-center">
    <h6>{name}</h6>
    <h7>{title}</h7>
  </div>
</div>