---
import Nav from "@components/Nav.astro";
interface Props {
  frontmatter?: {
    title?: string | undefined;
  };
}
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{frontmatter?.title} — FogDough DeFi template</title>
  </head>
  <body>
    <Nav />
    <h1>{frontmatter?.title}</h1>
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>
