---

/* 
props ideas:
- size
- align
- bg
- border
- columns
*/
interface Props {
  class?: string | undefined;
  id?: string | undefined;
  type?: string | undefined; // Not used but as an example
}
const { class: addClass, id }: Props = Astro.props;
---

<section
  id={id}
  class:list={["Xcontainer max-w-196 mx-auto px-4 py-8 text-center", addClass]}
>
  <slot />
</section>
