---
import Layout from "@layouts/Layout.astro";
import NavPage from "@layouts/NavPage.astro";
import Section from "@layouts/Section.astro";
import Grid from "@components/Grid.astro";
import PortfolioItem from "@components/PortfolioItem.astro";
import Card from "@components/Card.astro";
import { getCollection } from "astro:content";
import { getNavItemFromUrlPath } from "@components/NavItems.ts";

const page = getNavItemFromUrlPath(Astro.url.pathname);

const portfolios = await getCollection("portfolios");
---

<Layout frontmatter={{ title: "Exits" }}>
  <NavPage showTitle="Exits" page={page}>
    <Section>
      <Grid class="items-center">
        {
          portfolios
            .filter((portfolio) => portfolio.data.status == "Inactive")
            .map((portfolio) => (
              <PortfolioItem key={portfolio.id} portfolio={portfolio} />
            ))
        }
      </Grid>
    </Section>

    <Section>
      <Card>
        <p><a href="/portfolio">View active here.</a></p>
      </Card>
    </Section>
  </NavPage>
</Layout>
