---
import Layout from "@layouts/Layout.astro";
import { getCollection } from 'astro:content';
const portfolios = await getCollection("portfolios");
---

<Layout frontmatter={{ title: "Portfolio" }}>
  This is the Portfolio from a collection
  <p><a href="/portfolio/exits">Exits</a></p>
  <ul>
    {portfolios.filter(portfolio => portfolio.data.status!="Inactive").map(portfolio => (
      <li><a href={`/portfolio/${portfolio.id}`}>{portfolio.data.name}</a></li>
    ))}
  </ul>
</Layout>
